[submodule "EliteJournalReader"]
	path = EliteJournalReader
	url = https://github.com/eyeree/EliteJournalReader.git
[submodule "InputSimulatorStandard"]
	path = InputSimulatorStandard
	url = https://github.com/eyeree/InputSimulatorStandard.git
